{% extends 'user/base.html' %}
{% block content %}

<div class="product">
			<div class="container">
						<div class="col-md-3 product-bottom">
			<!--categories-->
			<div class="categories animated wow fadeInUp animated" data-wow-delay=".5s" >
					<h3>Categories</h3>
					<ul class="cate">
						<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Best Selling</a> <span>(15)</span></li>
						<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Man</a> <span>(16)</span></li>
							<ul>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Accessories</a> <span>(2)</span></li>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Coats &amp; Jackets</a> <span>(5)</span></li>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Jeans</a> <span>(1)</span></li>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">New Arrivals</a> <span>(0)</span></li>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Suits</a> <span>(1)</span></li>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Casual Shirts</a> <span>(0)</span></li>
							</ul>
						<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Sales</a> <span>(15)</span></li>
						<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Woman</a> <span>(15)</span></li>
							<ul>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Accessories</a> <span>(2)</span></li>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">New Arrivals</a> <span>(0)</span></li>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Dresses</a> <span>(1)</span></li>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Casual Shirts</a> <span>(0)</span></li>
								<li><i class="glyphicon glyphicon-menu-right" ></i><a href="products.html">Shorts</a> <span>(4)</span></li>
							</ul>
					</ul>
				</div>
		<!--//menu-->


                     <div class="categories animated wow fadeInUp animated" data-wow-delay=".5s" >
                        <h3>Search</h3>

                         <div class="color-top">
                             <form method='GET' action='' class="navbar-form text-center">
                                 <input type='text' name='keyword' placeholder='Search food' value='{{ request.GET.keyword }}'/>
                                 <input type='submit' value='Search' />
                             </form>
                         </div>

                     </div>



		<!--price-->



				<div class="price animated wow fadeInUp animated" data-wow-delay=".5s" >
					<h3>Price Range</h3>
					<div class="price-head">
                        <form method='GET' action=''>
					        <div class="col-md-6 price-head1">

                                        <div class="price-top1">
                                            <span class="price-top">$</span>

                                            <input type="text" name="price_min" placeholder='0' value='{{ request.GET.price_min }}'>

                                        </div>
                                    </div>
									<div class="col-md-6 price-head2">
                                        <div class="price-top1">
                                            <span class="price-top">$</span>
                                            <form method='GET' action=''>
                                            <input type="text" name="price_max" placeholder='500' value='{{ request.GET.price_max }}'>
                                            </form>
                                        </div>
                                    </div>
									<div class="clearfix"></div>

                                <input type='submit' value='Submit' />

                        </form>
                                    </div>
                                    </div>
			<!--//price-->

			<div class="sellers animated wow fadeInUp" data-wow-delay=".5s">

								<h3 class="best">BEST SELLERS</h3>
					<div class="product-head">
					<div class="product-go">
						<div class=" fashion-grid">
									<a href="single.html"><img class="img-responsive " src="../../static/user/images/pcc.jpg" alt=""></a>

								</div>
							<div class=" fashion-grid1">
								<h6 class="best2"><a href="single.html">Lorem ipsum </a></h6>
								<span class=" price-in1"> <del>$50.00</del>$40.00</span>
								<p>The standard chunk of Lorem Ipsum used</p>
							</div>

							<div class="clearfix"> </div>
							</div>
							<div class="product-go">
						<div class=" fashion-grid">
									<a href="single.html"><img class="img-responsive " src="../../static/user/images/pcc1.jpg" alt=""></a>

								</div>
							<div class=" fashion-grid1">
								<h6 class="best2"><a href="single.html">Lorem ipsum </a></h6>
								<span class=" price-in1"> <del>$50.00</del>$40.00</span>
								<p>The standard chunk of Lorem Ipsum used</p>
							</div>
							<div class="clearfix"> </div>
							</div>

							</div>
				</div>
				<!---->
 	</div>
			<div class="col-md-9 animated wow fadeInRight" data-wow-delay=".5s">
				<div class="mens-toolbar">
						<p >Showing 1–9 of 21 results</p>

					 <p class="showing">Sorting By
			            <select>
			                  <option value=""> Name</option>
			                  <option value="">  Rate</option>
			                    <option value=""> Color </option>
			                    <option value=""> Price </option>
			            </select>
			          </p>
					  <p>Show
			            <select>
			                  <option value=""> 9</option>
			                  <option value="">  10</option>
			                    <option value=""> 11 </option>
			                    <option value=""> 12 </option>
			            </select>
			          </p>


                	<div class="clearfix"></div>
		        </div>

			<div class="mid-popular">
                {% for food in object_list %}
				        <div class="col-sm-4 item-grid item-gr  simpleCart_shelfItem">
							<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>
										<a href="single.html">
											<div class="grid-img">
												<img src="{{ food.image1.url }}" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<img src="{{ food.image2.url }}" class="img-responsive" alt="">
											</div>
										</a>
									</figure>
								</div>
								<div class="women">
									<a href="#"><img src="../../static/user/images/ll.png" alt=""></a>
									<h6><a href="single.html">{{ food.name }}</a></h6>
                                    <p class="hidden"><div class="item_name">{{ food.name }}</div></p>
                                    <p class="text-center">{{ food.restaurant.name }}, {{ food.restaurant.area.name }}</p>
									<p ><del>${{ food.price }}</del><em class="item_price">${{ food.price }}</em></p>
                                    <p class="hidden"><div class="item_foodid">{{ food.id }}</div> </p>

                                    <a value="{{ forloop.counter }}" id="{{ food.id }}"
                                           href="{% url 'user:add_to_cart' food.id %}" data-text="Add To Cart"
                                           class="but-hover1 item_add" onclick="func(this.id)">
                                        Add To Cart</a>
								</div>
							</div>
						</div>
                {% endfor %}

					<div class="clearfix"></div>
				</div>
			</div>


			<div class="clearfix"></div>
    </div>
</div>

<script>
$(function(){
     $('form').on('addtocart', function(e){
         e.preventDefault();
         $.ajax({
             url: $(this).attr('action'),
             method: $(this).attr('method'),
             success: function(data){ $('#target').html(data) }
         });
     });
});
</script>
<script type="text/javascript">
function  func(e) {
    var sata = sessionStorage.getItem("food_to_be_added");
    console.log(sata);
    sessionStorage.setItem("food_to_be_added", e.toString());
    var data = sessionStorage.getItem("food_to_be_added");
    console.log(data);
    console.log(e);
    console.log(request.session.food_to_be_added);
}
</script>



{% endblock %}