{% extends 'user/base.html' %}
{% block content %}




<div class="container-fluid">
    <form method='GET' action='' class="navbar-form text-center">
        <input type='text' name='q' placeholder='Search restaurent' value='{{ request.GET.q }}'/>
        <input type='submit' value='Search' />
    </form>
</div>



<div class='col-sm-6 col-sm-offset-3'>
    {% for obj in object_list %}
        <div class="list-group-item-info">
            <div class="col-sm-12">
                <div class="animated wow fadeInLeftBig" data-wow-delay=".5s">
                    {% if obj %}
                        <p class="list-group-item">{{ obj }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}