<div class="login-mail">
    <input type="text" placeholder="Username" aria-required="true" data-target=" {{ form.username }} " >
    <i class="glyphicon glyphicon-envelope"></i>
</div>
<div class="login-mail">
    <input type="password" placeholder="Password" aria-required="true" data-target=" {{ form.password }} " >
    <i class="glyphicon glyphicon-lock"></i>
</div>





<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>



{% for obj in object_list %}
        <a href="{% url 'user:restaurant' id=obj.id %}">
            {{ obj }}
        </a>
{% endfor %}



{% for obj in object_list %}
    <div class="col-sm-6 col-sm-offset-3 list-group-item-info">
        <div class="col-sm-12 list-group-item">

                    <div class="col-md-5">
                        <a href="{% url 'user:restaurant' id=obj.id %}">

                            {{ obj.name }}

                        </a>
                    </div>
                    <div class="col-md-7">
                        {{ obj.area }}
                    </div>

        </div>
    </div>
{% endfor %}




<form action="{% url 'user:add_to_cart' %}" method="POST">
                                        <input hidden id="" type="button" value="{{ food.id }}"/>
                                        <a value="{{ forloop.counter }}" id="{{ forloop.counter }}"
                                           href="{% url 'user:add_to_cart' %}" data-text="Add To Cart"
                                           class="but-hover1 item_add" onclick="func(this)">Add To Cart</a>
                                    </form>


{% url 'user:add_to_cart' %}